<style> 
    * {margin: 0;
    padding: 0;
    box-sizing: border-box;
  transition: all 0.3s ease-in-out;}
    

    section {display: flex;
  width: 100vw;
  height: 110vh;
  background: rgb(76, 103, 114);}

    
 
   img {height: 110vh;
width: 35vw;
margin-left: 100px;}

   .div1 { margin-left: 100px;
    color: rgb(24, 212, 245);
     width: 50vw;
    height: 100vh;
    padding: 0 rem 3.5rem;
    margin-top: 25px;

   }

   h1, label, button, .description {
  font-family: 'Jost', sans-serif;
  letter-spacing: 0.1rem;
}

h1 {
 
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

p {

  font-size: 1rem;
  letter-spacing: 0.01rem;
  width: 40vw;
  margin: 0.25rem 0;
}

label, .description {

  text-transform: uppercase;
  font-size: 13px;
}

form {
  width: 31.25rem;
  margin-top: 2rem;
  padding: 1rem 0;
}

.form-group {
  display: flex;
  flex-direction: column-reverse;}


input, textarea {
  font-weight: 500;
  background: rgb(76, 103, 114);
  border: none;
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;

}



button {
  text-transform: uppercase;
  font-weight: 300;
  color: rgb(24, 212, 245);
  background:rgb(76, 103, 114);
  width: 10rem;
  height: 2.25rem;
  border: none;
  border-bottom: 1px solid black;
  cursor: pointer;
}

textarea:hover, button:hover, input:hover {
  opacity: 0.5;
  border: inset rgb(218, 13, 13) 4px;
}

input:focus, textarea:focus {
  background-color: rgb(236, 186, 93);
}

input:focus ~ label, textarea:focus ~ label {
    color: rgb(12, 12, 12);
    font-size: larger;
}

button:active {
  opacity: 0.8;
}
    


    </style>
