*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {background-image: url(../project/images/background.jpg);
        background-position: 50px 150px;
        background-attachment: scroll;
        background-size: cover;
        overflow-x: hidden;
        }

header {width: 95%;
            height: 30px;}

.main_logo {margin: 30px;
                width: 15%;
                height: 50px;}
    
.media_main_logo {position: relative;
                  left: 400px;}

        
section { width: 95% ;
        height: 100%;
        border: 1px solid rgb(247, 243, 243);
        border-radius: 10px;
        box-shadow: 2px 2px rgb(246, 244, 244);
        margin: auto ;
        margin-top: 70px;
        margin-bottom: 25px;}

    
.div1 {width: 100%;
        height: 50px;}

.list1 {
        list-style: none;
        font-size: 15px;
        padding: 10px 20px
    }

.list1 li { float: left;
            padding: 10px;
            margin-left: 50px;}
    
.inner-list{display: none;
                position: absolute;
                left: 20%;
                margin: 10px;
                z-index: 1;
                background-color: antiquewhite;
                border-radius: 20px;
                border: 2px solid black;
                width: 350px;}

.inner-list li{float: none;
                  display: block;
                  margin: 0;
                  padding: 0;
                  color: black;
                  margin: 10px;
                  font-size: large;}
              
.bride:hover .inner-list {
                  display: block;} 

                  .package {
                    position: relative;
                    left: 40%;
                    margin: 10px;
                  }
      
.package li{display: block;
                          margin: 0;
                          padding: 0;
                          color: black;
                          width: 150px;}

.list1 li:hover {background-color: rgb(64, 6, 119);
                         background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
                         border-radius: 10px;
                        box-shadow: 5px;
                        color: white;
                        cursor: pointer;
                        transition-duration: 2s;}
        
.media_list1 {list-style: none;
                      text-align: right;
                      position: relative;
                      bottom: 25px;
                      right: 150px;
                      }

.media_list1 li {   float: left;
                    position: relative;
                    left: 750px;
                    padding: 5px;
                    margin-left: 10px;}

.media_list1 li:hover  {background-color: rgb(64, 6, 119);
                         background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
                         border-radius: 10px;
                        box-shadow: 5px;
                        color: white;
                        cursor: pointer;}
.appoinment {width: 100%;
             height: 650px;
                    }

.appoinment_img {width: 98%;
                         height: 650px;
                        position: absolute;}

.appoinment_div {width: 50%;
                        height: 80%;
                         background-color: rgba(236,194,236,0.2);
                        position: relative;
                         top: 0px;
                        left: 20px;}
            
input {border: none;
                border-bottom: 2px solid salmon;
                width: 90%;
                margin: 10px;}

        
            
 input:hover, input:focus {outline: none;
                     border: 2px solid darkred;
                    width: 50%;}

input[type="text"], input[type="tel"], input[type="Email"], input[type="date"]{ padding: 10px 10px; line-height: 28px; }

.f {padding: 20px;}
        
.time, .time:hover, .time:focus {width: 10%;}
        
label {color: rgb(12, 12, 12);
              font-weight: 700;}

legend {color: darkslateblue;
                font-weight: 900;}
        
fieldset {margin: 40px;}

.request {font-size: larger;
              font-weight: 900;
             font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 10px;
            position: relative;
            top: 20px;
            text-shadow: 2px 2px 4px #000000;}

.submit {padding: 20px;
                background-color: rgb(50, 53, 53);
                color: rgb(244, 243, 243);
                border: none;
                border-radius: 20px;
                border-left: 1px solid;
                border-right: 1px solid;
                cursor: pointer;
                }

.footer_p {text-align: center;
                        position: relative;
                        left: 20px;
                        bottom: 10px;
                        font-size: small;}
            
.samantha {color: rgb(99, 1, 99);
                        font-weight: 900;}

a {text-decoration: none;
            color: black;
            font-weight: 700;}


  /* toggle menu css */

  .bar_icon1 {
        z-index: 2 !important;
        transition:height 0.3s ease-in-out;
transition-delay: 0.1s;
    }


.media_menu { width: 250px;
         background: rgb(110, 109, 109);
        position: absolute;
        top: 30%;
        left: 3%;
       margin: 20px;
       z-index: 1 !important;
       display: none;
       border: 1px solid black;
       border-radius: 10px;
       }

.media_menu_list1 {list-style: none;}

.media_1_list {
  padding: 20px;
 margin-left: 10px;
 }


.media_menu_list1 li:hover {background-color: rgb(64, 6, 119);
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
  border-radius: 10px;
 box-shadow: 5px;
 color: white;
 cursor: pointer;
 transition-duration: 2s;
}

.inner-list1 {display: none;
        position: absolute;
        left: 20%;
        margin: 10px;
        z-index: 1;
        background-color: antiquewhite;
        border-radius: 20px;
        width: 200px;
       }

.inner-list1 li{float: none;
          display: block;
          margin: 0;
          padding: 0;
          color: black;
          margin: 10px;
          font-size: large;
          }

.bride:hover .inner-list1 {display: block;}


