body {background-image: url(../project/images/background.jpg);
    background-position: 50px 150px;
    background-attachment: scroll;
    background-size: cover;
    overflow-x: hidden;
    }

header {width: 95%;
        height: 30px;}

.main_logo {margin: 30px;
            width: 15%;
            height: 50px;}

.media_main_logo {position: relative;
              left: 400px;}

    
section { width: 95% ;
    height: 100%;
    border: 1px solid rgb(247, 243, 243);
    border-radius: 10px;
    box-shadow: 2px 2px rgb(246, 244, 244);
    margin: auto ;
    margin-top: 70px;
    margin-bottom: 25px;}


.div1 {width: 100%;
    height: 50px;}

.list1 {
    list-style: none;
    font-size: 15px;
    padding: 10px 20px
}

.list1 li { float: left;
        padding: 10px;
        margin-left: 50px;}

.inner-list{display: none;
        position: absolute;
        left: 20%;
        margin: 10px;
        z-index: 1;
        background-color: antiquewhite;
        border-radius: 20px;
        border: 2px solid black;
        width: 350px;}

.inner-list li{float: none;
                display: block;
                margin: 0;
                padding: 0;
                color: black;
                margin: 10px;
                font-size: large;}
            
.bride:hover .inner-list {
                display: block;}
    
.package {
          position: relative;
          left: 40%;
          margin: 10px;
        }

.package li{display: block;
                margin: 0;
                padding: 0;
                color: black;
                width: 150px;} 

.bride_makeup:hover .package {display: block;}  
          
.list1 li:hover {background-color: rgb(64, 6, 119);
                     background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
                     border-radius: 10px;
                    box-shadow: 5px;
                    color: white;
                    cursor: pointer;
                    transition-duration: 2s;}
    
.media_list1 {list-style: none;
                  text-align: right;
                  position: relative;
                  bottom: 25px;
                  right: 150px;
                  }

.media_list1 li {   float: left;
                position: relative;
                left: 750px;
                padding: 5px;
                margin-left: 10px;}

.media_list1 li:hover  {background-color: rgb(64, 6, 119);
                     background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
                     border-radius: 10px;
                    box-shadow: 5px;
                    color: white;
                    cursor: pointer;}

a {text-decoration: none;
color: black;
font-weight: 700;}

.main_container {
width: 100%;
height: 600px;
border: 2px solid;
}

.bridal_img1 {
width: 100%;
height: 600px;
position: relative;
}

.triangle {
border-bottom: none;
border-color: transparent transparent transparent rgba(251, 250, 250, 0.4);
border-style: solid;
border-width: 240px 500px 240px 300px;
height: 0px;
width: 0px;
position: absolute;
bottom: -70px;
left: 550px;
}


.all_details {
width: 200px;
height: 450px;
position: relative;
bottom: 500px;
left: 800px;
background-color: rgba(250, 249, 249, 0.5);
} 

.heading_1 {
font-size: 40px;
color: rgb(194, 212, 31);
background: #faf8f8;
position: relative;
right: 180px;
border: 4px solid rgb(250, 249, 249);
width: 350px;
text-align: center;
font-family: cursive;
}

.package_detail {
color: rgb(15, 15, 15);
margin-top: 15px;          
}

.span1 {
font-size: 30px;
font-family: cursive;
}

.span2 { 
font-size: larger;
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(247, 5, 5);
background: #000;
border: 1px solid white;
padding: 5px;
position: relative;
right: 50px;
bottom: 30px;
font-weight: 900;
}

.package_detail_list {
position: relative;
bottom: 50px;
}

.package_detail_list li {
margin: 5px;
font-size: larger;
list-style: circle;  
font-weight: 900;   
}

.book {width: 100px;
        height: 30px;
        background-color: rgb(122, 121, 121);
        transition: all 0.5s;
        cursor: pointer;}
    
.book:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(17, 16, 16, 0.9);
    transition: 0.5s;
    }

.footer_p {text-align: center;
        position: relative;
        left: 20px;
        bottom: -5px;
        font-size: small;}
        
.samantha {color: rgb(99, 1, 99);
        font-weight: 900;}


  /* toggle menu css */

  .bar_icon1 {
        z-index: 2 !important;
        transition:height 0.3s ease-in-out;
transition-delay: 0.1s;
    }


.media_menu { width: 250px;
         background: rgb(110, 109, 109);
        position: absolute;
        top: 30%;
        left: 3%;
       margin: 20px;
       z-index: 1 !important;
       display: none;
       border: 1px solid black;
       border-radius: 10px;
       }

.media_menu_list1 {list-style: none;}

.media_1_list {
  padding: 20px;
 margin-left: 10px;
 }


.media_menu_list1 li:hover {background-color: rgb(64, 6, 119);
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
  border-radius: 10px;
 box-shadow: 5px;
 color: white;
 cursor: pointer;
 transition-duration: 2s;
}

.inner-list1 {display: none;
        position: absolute;
        left: 20%;
        margin: 10px;
        z-index: 1;
        background-color: antiquewhite;
        border-radius: 20px;
        width: 200px;
       }

.inner-list1 li{float: none;
          display: block;
          margin: 0;
          padding: 0;
          color: black;
          margin: 10px;
          font-size: large;
          }

.bride:hover .inner-list1 {display: block;}


