*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {background-image: url(../project/images/background.jpg);
        background-position: 50px 150px;
        background-attachment: scroll;
        background-size: cover;
        overflow-x: hidden;
        }

header {width: 95%;
            height: 30px;}

.main_logo {margin: 30px;
                width: 15%;
                height: 50px;}
    
.media_main_logo {position: relative;
                  left: 400px;}

        
section { width: 95% ;
        height: 100%;
        border: 1px solid rgb(247, 243, 243);
        border-radius: 10px;
        box-shadow: 2px 2px rgb(246, 244, 244);
        margin: auto ;
        margin-top: 70px;
        margin-bottom: 25px;}

    
.div1 {width: 100%;
        height: 50px;}

.list1 {
        list-style: none;
        font-size: 15px;
        padding: 10px 20px
    }

.list1 li { float: left;
            padding: 10px;
            margin-left: 50px;}
    
            .inner-list{display: none;
              position: absolute;
              left: 20%;
              margin: 10px;
              z-index: 1;
              background-color: antiquewhite;
              border-radius: 20px;
              border: 2px solid black;
              width: 350px;}

  .inner-list li{float: none;
                display: block;
                margin: 0;
                padding: 0;
                color: black;
                margin: 10px;
                font-size: large;}
            
.bride:hover .inner-list {
                display: block;}

.package {
                  position: relative;
                  left: 40%;
                  margin: 10px;
                }
  
.package li{display: block;
                        margin: 0;
                        padding: 0;
                        color: black;
                        width: 150px;} 

.list1 li:hover {background-color: rgb(64, 6, 119);
                         background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
                         border-radius: 10px;
                        box-shadow: 5px;
                        color: white;
                        cursor: pointer;
                        transition-duration: 2s;}
        
.media_list1 {list-style: none;
                      text-align: right;
                      position: relative;
                      bottom: 25px;
                      right: 150px;
                      }

.media_list1 li {   float: left;
                    position: relative;
                    left: 750px;
                    padding: 5px;
                    margin-left: 10px;}

.media_list1 li:hover  {background-color: rgb(64, 6, 119);
                         background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
                         border-radius: 10px;
                        box-shadow: 5px;
                        color: white;
                        cursor: pointer;}

      
.contact_form {
      height: 800px;
      background: rgba(10, 10, 10, 0.8);}

     
.contact_img {height: 600px ;
    width: 400px;
    position: relative;
    top: 50px;}
    
.div_1 { position: relative;
                left: 10px;
                top: 50px;
                color: rgb(249, 247, 247);
                width: 50%;
                height: 700px;
                }

.div_2 {width: 50%;
        position: relative;
        bottom: 700px;
        left: 750px;}
    
.heading1, label, button, .description {
      font-family: 'Jost', sans-serif;
      letter-spacing: 0.1rem;
    }
    
.heading1 {
     
      text-transform: uppercase;
      font-size: 2.5rem;
      letter-spacing: 0.5rem;
      font-weight: 300;
    }
    
    .paragraph1 {
    
      font-size: 1rem;
      letter-spacing: 0.01rem;
      width: 40vw;
      margin: 0.25rem 0;
    }
    
    label, .description {
    
      text-transform: uppercase;
      font-size: 13px;
    }
    
    form {
      width: 31.25rem;
      margin-top: 2rem;
      padding: 1rem 0;
      height: 100%; 
    }
    
    input, textarea {
      font-weight: 500;
      background: rgb(76, 103, 114);
      border: none;
      border-bottom: 1px solid black;
      padding: 0.5rem 0;
      margin-bottom: 1rem;
      outline: none;
      width: 100%;
      }
    
    
    
    button {
      text-transform: uppercase;
      font-weight: 300;
      color: rgb(245, 245, 247);
      background:rgb(10, 10, 10);
      width: 10rem;
      height: 2.25rem;
      border: none;
      border-bottom: 1px solid black;
      cursor: pointer;
      
    }
    
    textarea:hover, button:hover, input:hover {
      opacity: 0.5;
      border: inset rgb(218, 13, 13) 4px;
    }
    
    input:focus, textarea:focus {
      background-color: rgb(93, 93, 91);
    }
    
    input:focus ~ label, textarea:focus ~ label {
        color: rgb(12, 12, 12);
        font-size: larger;
    }
    
    button:active {
      opacity: 0.8;
    }
    

    form .error {
      color: #ff0000;
      display: block;
      
    }

  
  input.error, textarea.error {
      border: 1px dashed rgb(252, 1, 1);
      font-weight: 300;
      color: rgb(251, 250, 250);
  }

    .footer_p {text-align: center;
                        position: relative;
                        left: 20px;
                        bottom: -5px;
                        font-size: small;}
            
        .samantha {color: rgb(99, 1, 99);
                        font-weight: 900;}

        a {text-decoration: none;
            color: black;
          font-weight: 700;}

  /* toggle menu css */

  .bar_icon1 {
    z-index: 2 !important;
    transition:height 0.3s ease-in-out;
transition-delay: 0.1s;
}


.media_menu { width: 250px;
     background: rgb(110, 109, 109);
    position: absolute;
    top: 30%;
    left: 3%;
   margin: 20px;
   z-index: 1 !important;
   display: none;
   border: 1px solid black;
   border-radius: 10px;
   }

.media_menu_list1 {list-style: none;}

.media_1_list {
padding: 20px;
margin-left: 10px;
}


.media_menu_list1 li:hover {background-color: rgb(64, 6, 119);
background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
border-radius: 10px;
box-shadow: 5px;
color: white;
cursor: pointer;
transition-duration: 2s;
}

.inner-list1 {display: none;
    position: absolute;
    left: 20%;
    margin: 10px;
    z-index: 1;
    background-color: antiquewhite;
    border-radius: 20px;
    width: 200px;
   }

.inner-list1 li{float: none;
      display: block;
      margin: 0;
      padding: 0;
      color: black;
      margin: 10px;
      font-size: large;
      }

.bride:hover .inner-list1 {display: block;}


