*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {background-image: url(../project/images/background.jpg);
        background-position: 50px 150px;
        background-attachment: scroll;
        background-size: cover;
        overflow-x: hidden;
        }

header {width: 95%;
            height: 30px;}

.main_logo {margin: 30px;
                width: 15%;
                height: 50px;}
    
.media_main_logo {position: relative;
                  left: 400px;}

        
section { width: 95% ;
        height: 100%;
        border: 1px solid rgb(247, 243, 243);
        border-radius: 10px;
        box-shadow: 2px 2px rgb(246, 244, 244);
        margin: auto ;
        margin-top: 70px;
        margin-bottom: 25px;}

    
.div1 {width: 100%;
        height: 50px;}

.list1 {
        list-style: none;
        font-size: 15px;
        padding: 10px 20px
    }

.list1 li { float: left;
            padding: 10px;
            margin-left: 50px;}
    
.inner-list{display: none;
            position: absolute;
            left: 20%;
            margin: 10px;
            z-index: 1;
            background-color: antiquewhite;
            border-radius: 20px;
            border: 2px solid black;
            width: 350px;}

.inner-list li{float: none;
                    display: block;
                    margin: 0;
                    padding: 0;
                    color: black;
                    margin: 10px;
                    font-size: large;}

                    .list1 li:hover {background-color: rgb(64, 6, 119);
                         background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
                         border-radius: 10px;
                        box-shadow: 5px;
                        color: white;
                        cursor: pointer;
                        transition-duration: 2s;}
        
.media_list1 {list-style: none;
                      text-align: right;
                      position: relative;
                      bottom: 25px;
                      right: 150px;
                      }

.media_list1 li {   float: left;
                    position: relative;
                    left: 750px;
                    padding: 5px;
                    margin-left: 10px;}

.media_list1 li:hover  {background-color: rgb(64, 6, 119);
                         background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
                         border-radius: 10px;
                        box-shadow: 5px;
                        color: white;
                        cursor: pointer;}
                    

            
            .register {color: rgb(56, 2, 56);
                background-color: rgb(167, 109, 34);
                text-align: center;
                font-weight: 900;
                font-size: x-large;
                padding: 20px;
                text-decoration-line: underline;
                margin: 20px;}

            .main_container {width: 100%;
                            height: 400px;
                            background: rgba(236,194,236,0.5);
                            }

            
            
            .firstname {line-height: 50px;}
            
        
            label {margin: 10px;}


            input[type=text], input[type=email], input[type=date], input[type=password], 
            input[type=number] {width: 50%; padding: 10px 20px; }
                
            input[type=checkbox], input[type=radio], button {padding: 10px 20px; }


            textarea {
                width: 50%;}

            .col25 { float: left;
                    width: 25%;
                    margin-top: 6px;}
        
            .col75 {
                    float: left;
                    width: 75%;
                    margin-top: 6px;}
            
            button {margin: 20px;
                    background-color: rgb(2, 61, 2);
                    border: 2px solid black;
                    border-radius: 5px;
                    color: white;}
                
            button:hover {background: rgb(14, 13, 13);
                          border: 3px solid rgb(58, 55, 55);
                          color: rgb(248, 243, 243);}

            input:hover, textarea:hover {border: 1px solid rgb(242, 36, 13);}

            
            input:focus, textarea:focus            
                        {outline: none;
                        border: 2px solid rgb(242, 36, 13);
                        border-top: none;
                        border-left: none;
                        border-right: none ;  }

            form .error {color: rgb(251, 3, 3);
                         font-weight: 900;}

            input.error {
                border: 1px dashed rgb(250, 2, 2);
                font-weight: 300;
                color: rgb(15, 14, 14);
            }

            .footer_p {text-align: center;
                        position: relative;
                        left: 20px;
                        bottom: 10px;
                        font-size: small;}
            
            .samantha {color: rgb(99, 1, 99);
                        font-weight: 900;}
                
           a {text-decoration: none;
           color: black;
           font-weight: 700;}


             /* toggle menu css */

    .bar_icon1 {
        z-index: 2 !important;
        transition:height 0.3s ease-in-out;
transition-delay: 0.1s;
    }


.media_menu { width: 250px;
         background: rgb(110, 109, 109);
        position: absolute;
        top: 30%;
        left: 3%;
       margin: 20px;
       z-index: 1 !important;
       display: none;
       border: 1px solid black;
       border-radius: 10px;
       }

.media_menu_list1 {list-style: none;}

.media_1_list {
  padding: 20px;
 margin-left: 10px;
 }


.media_menu_list1 li:hover {background-color: rgb(64, 6, 119);
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(236,194,236,1));
  border-radius: 10px;
 box-shadow: 5px;
 color: white;
 cursor: pointer;
 transition-duration: 2s;
}

.inner-list1 {display: none;
        position: absolute;
        left: 20%;
        margin: 10px;
        z-index: 1;
        background-color: antiquewhite;
        border-radius: 20px;
        width: 200px;
       }

.inner-list1 li{float: none;
          display: block;
          margin: 0;
          padding: 0;
          color: black;
          margin: 10px;
          font-size: large;
          }

.bride:hover .inner-list1 {display: block;}


