
@media only screen and (min-width: 1200px ){
    .media_list1, .bar_icon1, .media_main_logo, .media_image {display: none;}
}

@media only screen and (max-width: 1200px ) and (min-width: 700px ) {

.media_list1, .bar_icon1, .media_main_logo, .media_image {display: block;}

.list1 {
        font-size: 12px;
        padding: 15px;}

.list1 li {
     margin-left: 30px;
}


.media_main_logo {position: relative;
        left: 350px;
     bottom: 20px;}


     .media_list1 {position: relative;
        right: 40px;
        width: 300px;}
    
}


@media only screen and (max-width: 1200px ) and (min-width: 200px ) {

    section, .div2 {height: 100%;}

   .list1, .main_logo {display: none;}

    .media_list1 {position: relative;
                  right: 100px;}

    .media_list1 li {margin-left: 5px;
                     position: relative;
                    top: 40px;}

    .bar_icon1 {position: relative;
                top: 80px;
                left: 30px;}
    
    .media_main_logo {position: relative;
                           left: 350px;
                        bottom: 20px;}

    .footer_p {position: relative;
                bottom: 5px;
                left: 20px;}

    
   .engagement_img {width: 500px!important;
                    height: 250px!important;
                    position: relative;
                    bottom: 190px!important;
                    left: 400px!important;}

    .media_main_logo {
                        position: relative;
                        left: 0%!important;}
    
    }

    @media only screen and (max-width: 1200px ) and (min-width: 1100px ) {
        
        
        .media_list1 {margin-left: 100px;}

    }
    


    @media only screen and (max-width: 1000px ) and (min-width: 900px ) {

        .media_list1 {margin-left: -80px;}

        .engagement_img {width: 400px!important;
            height: 200px!important;
            position: relative;
            bottom: 150px!important;
            left: 400px!important;}


    }

    @media only screen and (max-width: 900px ) and (min-width: 800px ) {

        .media_list1 {margin-left: -180px;}

        .engagement_img {width: 400px!important;
            height: 200px!important;
            position: relative;
            bottom: 150px!important;
            left: 40%!important;}


    }

    @media only screen and (max-width: 800px ) and (min-width: 700px ) {


        .media_list1 {margin-left: -240px;
                     font-size: smaller;}
      

        .engagement_img {width: 300px!important;
            height: 200px!important;
            position: relative;
            bottom: 150px!important;
            left: 40%!important;}

    }

    @media only screen and (max-width: 700px ) and (min-width: 500px ) {

    
          .engagement_img {width: 500px!important;
            height: 300px!important;
            position: relative;
            bottom: 50px!important;
            left: 5%!important;}

        .rs {position: relative;
             right: 10%!important;}
    }

    @media only screen and (max-width: 700px ) and (min-width: 600px ) {

        .media_list1 {position: relative;
            right: 70% !important;
            font-size: 10px;}

        .engagement_img {width: 450px!important;
                height: 250px!important;
                position: relative;
                bottom: 50px!important;
                left: 5%!important;}
    
            .rs {position: relative;
                 right: 10%!important;}

     .heading {width: 150px!important;
                    height: 110px;
                   border-radius: 0%!important;
                   border: none!important;
                   font-size: smaller!important;
                  position: relative;
                  right: 25%;}

    }

    

    @media only screen and (max-width: 600px ) and (min-width: 500px ) {

        .media_list1 {position: relative;
            right: 115% !important;
            font-size: 10px;}

        .media_main_logo {
                position: relative;
                left: 10%!important;}

        .engagement_img {width: 400px!important;
                    height: 250px!important;
                    position: relative;
                    bottom: 50px!important;
                    left: 5%!important;}
        
        .rs {position: relative;
                     right: 10%!important;}

        .heading {width: 150px!important;
                        height: 110px;
                       border-radius: 0%!important;
                       border: none!important;
                       font-size: smaller!important;
                      position: relative;
                      right: 25%;}


    }

    @media only screen and (max-width: 500px ) and (min-width: 400px ) {

        .media_list1 {display: none;}

        .media_main_logo {
            position: relative;
            left: 10%!important;}

        .engagement_img {width: 300px!important;
                height: 150px!important;
                position: relative;
                bottom: 50px!important;
                left: 10%!important;}
    
    .rs {position: relative;
                 right: 5%!important;}

        .heading {width: 150px!important;
                  height: 110px;
                 border-radius: 0%!important;
                 border: none!important;
                 font-size: smaller!important;
                position: relative;
                right: 25%;}



    }    

    @media only screen and (max-width: 400px ) and (min-width: 300px ) {

        .media_list1 {display: none;}

        .media_main_logo {
            position: relative;
            left: 10%!important;}

       .engagement_img {width: 280px!important;
                height: 150px!important;
                position: relative;
                bottom: 50px!important;
                left: 5%!important;}
    
    .rs {position: relative;
                 right: 3%!important;
                top: 10%!important;}

    ul li {position: relative;
            right: 30%!important;}


                 .heading {width: 150px!important;
                    height: 110px;
                   border-radius: 0%!important;
                   border: none!important;
                   font-size: smaller!important;
                  position: relative;
                  right: 25%;}



    }   
    