
@media only screen and (min-width: 1200px ){
    .media_list1, .bar_icon1, .media_main_logo, .media_image {display: none;}
}

@media only screen and (max-width: 1200px ) and (min-width: 700px ) {

.media_list1, .bar_icon1, .media_main_logo, .media_image {display: block;}

.list1 {
        font-size: 12px;
        padding: 15px;}

.list1 li {
     margin-left: 30px;
}


.media_main_logo {position: relative;
        left: 350px;
     bottom: 20px;}


     .media_list1 {position: relative;
        right: 40px;
        width: 300px;}
    
}


@media only screen and (max-width: 1200px ) and (min-width: 200px ) {

    section, .div2 {height: 100%;}

   .list1, .main_logo {display: none;}

    .media_list1 {position: relative;
                  right: 100px;}

    .media_list1 li {margin-left: 5px;
                     position: relative;
                    top: 40px;}

    .bar_icon1 {position: relative;
                top: 80px;
                left: 30px;}
    
    .media_main_logo {position: relative;
                           left: 350px;
                        bottom: 20px;}

    .footer_p {position: relative;
                bottom: 5px;
                left: 20px;}
    
    }

    @media only screen and (max-width: 1100px ) and (min-width: 400px ) {

        .img4 {width: 500px !important;
            height: 390px !important;} 

        .img3 {width: 400px !important;
    }       

    .img1 {display: none;}

    .index_div {position: relative;
        left: 23%;}

        .media_main_logo {
            position: relative;
            left: 0%!important;}


    }

    @media only screen and (max-width: 1000px ) and (min-width: 900px ) {

        .media_list1 {margin-left: -40px;}

        .div-1, .div-2, .div-3 {font-size: small;}
     
    }       

    

    @media only screen and (max-width: 900px ) and (min-width: 800px ) {

        .media_list1 {margin-left: -160px;}

       

        .div-1, .div-2, .div-3 {font-size: small;}


    }

    @media only screen and (max-width: 800px ) and (min-width: 700px ) {

        .home1 {display: none;}

        .media_list1 {margin-left: -200px;
                     font-size: smaller;}

        .index_div {position: relative;
                    left: 15%!important;}

      

        .div-1, .div-2, .div-3 {font-size: 11px;}

        .div_container {width: 90%;
                        margin-left: 20px;}

    }

    @media only screen and (max-width: 700px ) and (min-width: 600px ) {

        .main_div3 {position: relative;
                    left: 13% ;}

        .media_list1 {position: relative;
                     right: 75% !important;
                     font-size: smaller;}

        .div_container {width: 90%;
            margin-left: 10px;}

       
        .div-1, .div-2, .div-3 {font-size: 10px;}

        .img4 {width: 500px !important;
                        height: 390px !important;} 

        .img3 {width: 400px !important;
                }

        .index_div {position: relative;
                    left: -10%!important;}

    }

    @media only screen and (max-width: 600px ) and (min-width: 500px ) {

        
        .div_container {position: relative;
                        right: 5%;
                        bottom: 35px;}

        .service_img {width: 80px!important;
                        height: 80px!important;}

        .img4 {width: 450px !important;
            height: 350px !important;} 

        .img3 {width: 350px !important;
    }       

        .index_div {position: relative;
            left: 3%!important;}

        
        .media_list1 {position: relative;
                right: 100% !important;
                font-size: 10px;}


    }

    @media only screen and (max-width: 500px ) and (min-width: 400px ) {
        
        .media_list1 {display: none;}

        .img4 {width: 350px !important;
            height: 250px !important;} 

        .img3 {width: 250px !important;
                height: 100px!important;} 
                
        .img2 {width: 200px !important;
                    height: 150px !important;
                margin-bottom: 50%;} 
        
        .index_div {position: relative;
                    top: 10%!important;
                    left: 5%!important;}

        .div_container {position: relative;
                        right: 5%!important;
                        font-size: smaller;}

        .detailes_p {display: none;}
        
        hr {position: relative;
            top: 20%!important;}

       .media_main_logo {
                position: relative;
                left: 10%!important;}
    }

    @media only screen and (max-width: 400px ) and (min-width: 300px ) {

        .media_list1 {display: none;}

        .img1 {display: none;}

        .img4 {width: 350px!important;
                height: 250px!important;
                margin-top: 70%;}

        .img2{display: none;} 
        .img3 {width: 350px!important;
            margin-top: 130%;}

        .div_container {position: relative;
            top: 4%;
           left: -10%;
            font-size: 10px;}

        .detailes_p {display: none;}

        .media_main_logo {
            position: relative;
            left: 0%!important;}

        .div_container {position: relative;
                right: 5%!important;
                bottom: 35px!important;}


        }
   
    

    
    


