
@media only screen and (min-width: 1200px ){
        .media_list1, .bar_icon1, .media_main_logo, .media_image {display: none;}
    }
    
    @media only screen and (max-width: 1200px ) and (min-width: 700px ) {
    
    .media_list1, .bar_icon1, .media_main_logo, .media_image {display: block;}
    
    .list1 {
            font-size: 12px;
            padding: 15px;}
    
    .list1 li {
         margin-left: 30px;
    }
    
    
    .media_main_logo {position: relative;
            left: 350px;
         bottom: 20px;}
    
    
         .media_list1 {position: relative;
            right: 40px;
            width: 300px;}
        
    }
    
    
    @media only screen and (max-width: 1200px ) and (min-width: 200px ) {
    
        section, .div2 {height: 100%;}
    
       .list1, .main_logo {display: none;}
    
        .media_list1 {position: relative;
                      right: 100px;}
    
        .media_list1 li {margin-left: 5px;
                         position: relative;
                        top: 40px;}
    
        .bar_icon1 {position: relative;
                    top: 80px;
                    left: 30px;}
        
        .media_main_logo {
                        position: relative;
                        left: 0%!important;}
        
    
        .footer_p {position: relative;
                    bottom: 5px;
                    left: 20px;}
        
        }
    
        @media only screen and (max-width: 1200px ) and (min-width: 1100px ) {
            
            
            .media_list1 {margin-left: 100px;}

            .border {margin-bottom: -150px;
                    margin-left: -100px;}

        

        }

        @media only screen and (max-width: 1100px ) and (min-width: 1000px ){

                .border {margin-bottom: -150px;
                        margin-left: -100px;}
    
                
    
        }
    
    
        @media only screen and (max-width: 1000px ) and (min-width: 900px ) {
    
            .media_list1 {margin-left: -40px;}

            .border {margin-bottom: -150px;
                margin-left: -200px;}

    
    
        }
    
        @media only screen and (max-width: 900px ) and (min-width: 800px ) {
    
            .media_list1 {margin-left: -160px;}

            .border {margin-bottom: -150px;
                margin-left: -270px;}
    
    
        }
        
    
        @media only screen and (max-width: 800px ) and (min-width: 700px ) {
    
    
            .media_list1 {margin-left: -200px;
                         font-size: smaller;}

                .border {margin-bottom: -150px;
                        margin-left: -350px;}

    
        }
    
        @media only screen and (max-width: 700px ) and (min-width: 600px ) {
    
            .media_list1 {position: relative;
                right: 70% !important;
                font-size: 10px;}

            
                .border {width: 400px!important;
                    height: 400px!important;
                   position: relative;
                   left: 15%!important;
                   top: 65%;}

                .ol_list li {
                    margin-left: 10px!important;
                    height: 40px!important;
                    width: 100px!important;
                    line-height: 35px;
                    font-size: medium;

                }
    
        }
    
        @media only screen and (max-width: 600px ) and (min-width: 500px ) {
    
            .media_list1 {position: relative;
                right: 100% !important;
                font-size: 10px;}

            .media_main_logo {
                    position: relative;
                    left: 10%!important;}

            .border {width: 400px!important;
                     height: 500px!important;
                    position: relative;
                    left: 15%!important;
                    top: 65%;}

            .ol_list li {
                        margin-left: 10px!important;
                        height: 40px!important;
                        width: 100px!important;
                        line-height: 35px;
                        font-size: small;
    
                    }
        

    
        }
    
        @media only screen and (max-width: 500px ) and (min-width: 400px ) {

            .media_list1 {display: none;}
            .media_main_logo {
                position: relative;
                left: 10%!important;}

        .border {width: 300px!important;
                    height: 400px!important;
                   position: relative;
                   left: 17%!important;
                   top: 65%;}

        .ol_list li {
                    margin-left: 5px!important;
                    height: 40px!important;
                    width: 80px!important;
                    line-height: 35px;
                    font-size: medium;

                }

        }    

        @media only screen and (max-width: 400px ) and (min-width: 300px ) {

            .media_list1 {display: none;}
            .media_main_logo {
                position: relative;
                left: 10%!important;}

                .border {width: 300px!important;
                    height: 400px!important;
                   position: relative;
                   left: 12%!important;
                   top: 65%;}

        .ol_list li {
                    margin-left: 5px!important;
                    height: 40px!important;
                    width: 80px!important;
                    line-height: 35px;
                    font-size: medium;

                }

            


        }   