* {margin: 0;
    padding: 0;
box-sizing: border-box;}

.heading1 {text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;}

.layout li{margin: 10px;
      font-weight: 900;}

.container {width: 1000px;
            height: 500px;     
        background-color: lightgrey;
       position: absolute; 
        top: 20%;
        left: 14%;
        display: grid;
        grid-template-columns: 300px 300px 300px;
     grid-template-rows: 220px 220px 220px  ;
    gap: 20px;
    padding: 18px 30px; }

.div { border: 2px solid gray;
        background-color: white;
       display: block;
    
        }

        .item-1 {background-color: gray;
                height: 100px;
                width: auto;
                text-align: center;
                line-height: 100px;
                color: white;
                font-size: larger;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           }
            p {text-align: justify;
                        text-transform: capitalize;
                        letter-spacing: 1px;} 

            .btn {  height: 30px;
                    width: 60px;
                border: 1px solid black;
                    display: inline-block;
                    font-size: small;
                    text-align: center;
                    line-height: 30px;
                    margin-top: 10px;  
                    margin-left: 5px; 
                    cursor: pointer;

            }
            .copyright {
                        width: 100px;
                        margin-left: 180px;
                        
                        
                
            }
           
